<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Index</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    Hello and Welcome!!!
    <h1>Student Athlete College Search Tool</h1>
    </br>
    <a href="/student/signup">Sign Up</a> </br>
    </br>
    </br>    
    <a href="/student/login">Log In</a>
</body>
</html> 