<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>College Index Page</h1>

      <ul>
        <% for(let i=0; i<school.length; i++) { %>
        <li>
          <a href="/school/<%= school[i].id %>"> <%=school[i].name%> </a>
        </li>
        <% } %>
      </ul>
  </body>
</html>